.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px;
    background-color: #363636;
    color: white;
    box-shadow: 0px 6px 20px #000000;
}

.right {
    position: absolute;
    right: 30px;
    transform: translateY(5px);
}